<%= form_for @issue, :html => {:class => "form-horizontal center"} do |form| %>
    <% if issue.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

          <ul>
            <% issue.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field form-group col-md-8">
      <label class="required">Title</label>
      <%= form.text_field :title, id: :issue_title, class: "form-control" %>
    </div>

    <div class="field form-group col-md-8">
      <label class="required">Kind</label>
      <%= form.select :kind, [['Bug', 'bug'], ['Enhancement', 'enhancement'], ['Proposal', 'proposal'], ['Task', 'task']], {}, class: "form-control" %>
      <% form.submit %>
    </div>

    <div class="field form-group col-md-8">
      <label class="required">Priority</label>
      <%= form.select :priority, [['Trivial', 'trivial'], ['Minor', 'minor'], ['Major', 'major'], ['Critical', 'critical'], ['Blocker', 'blocker']], {}, class: "form-control" %>
      <% form.submit %>
    </div>

    <% if params[:action] == "edit" %>
        <div class="field form-group col-md-8">
          <label>Status</label>
          <%= form.select :status, [['New', 'new'], ['Resolved', 'resolved'], ['WontFix', 'wontfix']], {}, class: "form-control" %>
          <% form.submit %>
        </div>
    <% end %>

    <div class="field form-group col-md-8">
      <%= form.label :assignee %>
      <!-- f.select :category, Category.all, :prompt => "Select One"
      :category, Category.all.map{|c| [c.name, c.id]}, :prompt => "Select One"
      form.text_field :assignee, id: :issue_assignee, class: "form-control"-->
      <%= form.select :assignee, User.all.map {|c| [c.username, c.username]}, {}, class: "form-control", :prompt => "Select One" %>

    </div>

    <div class="field form-group col-md-8">
      <%= form.label :issue_list_id %>
      <!-- f.select :category, Category.all, :prompt => "Select One"
      :category, Category.all.map{|c| [c.name, c.id]}, :prompt => "Select One"
      form.text_field :assignee, id: :issue_assignee, class: "form-control"-->
      <%= form.select :issue_list_id, IssueList.all.map {|c| [c.name, c.id]}, {}, class: "form-control", :prompt => "Select One" %>

    </div>

    <div class="text_area form-group col-md-8">
      <%= form.label :description %>
      <%= form.text_area :description, id: :issue_description, class: "form-control" %>
    </div>
    <% if params[:action] == "new" %>
        <%= form.hidden_field :issue_creator, { :value => current_user.username} %>
    <% end %>

    <% if params[:action] == "new" %>
        <div class="actions submit-button col-md-8">
          <%= form.submit "Create issue", class: "btn btn-default btn-primary" %>
        </div>
    <% end %>

    <% if params[:action] == "edit" %>
        <div class="actions submit-button col-md-8">
          <%= form.submit "Save changes", class: "btn btn-default btn-primary" %>
        </div>
    <% end %>

<% end %>
