<%= form_for @issue, :html => {:class => "form-horizontal center"} do |form| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group col-md-8">
    <label class="required">Title</label>
    <%= form.text_field :title, id: :issue_title, class: "form-control" %>
  </div>

  <div class="field form-group col-md-8">
    <label class="required">Kind</label>
    <%= form.select :kind, [['bug','bug'],['enhancement','enhancement'],['proposal','proposal'],['task','task']], {}, class: "form-control"  %>
    <% form.submit %>
  </div>
  
  <div class="field form-group col-md-8">
    <label class="required">Priority</label>
    <%= form.select :priority, [['trivial','trivial'],['minor','minor'],['major','major'],['critical','critical'],['blocker','blocker']], {},class: "form-control" %>
    <% form.submit %>
  </div>  
  
 <!-- <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :issue_status %>
  </div>

  <div class="field">
    <%= form.label :votes %>
    <%= form.number_field :votes, id: :issue_votes %>
  </div>
 -->
  <div class="field form-group col-md-8">
    <%= form.label :assignee %>
    <%= form.text_field :assignee, id: :issue_assignee %>
  </div>

 <!-- <div class="field">
    <%= form.label :created %>
    <%= form.datetime_select :created, id: :issue_created %>
  </div>

  <div class="field">
    <%= form.label :updated %>
    <%= form.datetime_select :updated, id: :issue_updated %>
  </div>
 -->
 
  <div class="text_area form-group col-md-8">
    <%= form.label :description %>
    <%= form.text_area :description, id: :issue_description, class: "form-control" %>
  </div>

  <div class="actions submit-button col-md-8">
    <%= form.submit "Create issue", class: "btn btn-default btn-primary" %>
  </div>
<% end %>
