<!DOCTYPE html>
<html>
<head>
<title>Index</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<%= stylesheet_link_tag "application" %>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <h4 class="navbar-text"><strong>Issue Tracker</strong></h4>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href=<%=new_issue_path%>>New Issue</a></li>
      </ul>
    </div>
  </nav>
  <p id="notice"><%= notice %></p>
  <div class="container">
  <h1>Issues</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Kind</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Votes</th>
        <th>Assignee</th>
        <th>Created</th>
        <th>Updated</th>
      </tr>
    </thead>

    <tbody>
      <% @issues.each do |issue| %>
        <tr>
          <td>
            <a href=issues/<%=issue.id%>>
              #<%= issue.id %>: <%= issue.title %>
            </a>
          </td>
          <td><%= issue.kind %></td>
          <td><%= issue.priority %></td>
          <td><%= issue.status %></td>
          <td><%= issue.votes %></td>
          <% if (issue.assignee != "") %>
              <td><a href= /users/<%=@users.where(username: issue.assignee).first.id%>>
              <%=issue.assignee%></a></td>
          <% else %>  
            <td><%= issue.assignee %></td>
          <% end %>
          <td><%= issue.created_at.strftime("%d-%m-%Y %R") %></td>
          <td><%= issue.updated_at.strftime("%d-%m-%Y %R") %></td>
          <!--<td><%= link_to '', edit_issue_path(issue) %></td> -->
          <!--<td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      <% end %>
    </tbody>
  </table>
</div>
</body>
