<html>
<head>
<title>Edit</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<%= stylesheet_link_tag "application" %>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <h4 class="navbar-text"><strong>Issue Tracker</strong></h4>
      </div>
      <ul class="nav navbar-nav">
        <li><a href=<%=issues_path%>>Home</a></li>
        <li class="active"><a href=<%=new_issue_path%>>New Issue</a></li>
      </ul>
    </div>
  </nav>
  <p id="notice"><%= notice %></p>
  <div class="container">
    <h1>New Issue</h1>
    
    <%= form_for @issue, :html => {:class => "form-horizontal center"} do |f| %>
      <div class="form-group">
        <%= f.label :title, "* Title:" %>
        <div class="col-md-4">
          <%= f.text_field :title, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :kind, "* Kind:" %>
        <div class="col-md-4">
          <%= f.text_field :kind, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :priority, "* Priority:" %>
        <div class="col-md-4">
          <%= f.text_field :priority, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :assignee, "Assignee:" %>
        <div class="col-md-4">
          <%= f.text_field :assignee, class: "form-control" %>
        </div>
      </div>
    <% end %>
    
    <%= link_to 'Back', issues_path %>
    
  </div>
</body>
