<html>
<head>
  <title>Issue #<%= @issue.id %>: <%= @issue.title %></title>
  <!-- Latest compiled and minified CSS -->
  <%= stylesheet_link_tag "application" %>
</head>
<body>
<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="issue-header">
    <h2>Issue #<%= @issue.id %>: <%= @issue.title %>  <%= @issue.status %></h2>
  </div>
  <div class="issue-info">
    <div class="issue-info-left">
      <div id="issue-main-content">
        <p><%= image_tag current_user.image_url %>
          <%= link_to User.where(username: @issue.issue_creator).first.full_name, user_path(@issue.issue_creator) %>
          created
          an issue <%= @issue.created_at.strftime("%d-%m-%Y") %></p>
        <p>
          <strong>Description:</strong> <%= @issue.description %>
        </p>
        <p>
          <% @uploads.each do |upload| %>
            <td>
              <a href=<%= upload.attachment_url %>><%= upload.name%></a>
            </td>
        <% end %>
        </p>
        <a href=<%= edit_issue_path(@issue.id) %>><button type="button" class="btn btn-default">Edit</button></a>
        <a href=/uploads/new?issue_id=<%= @issue.id %>><button type="button" class="btn btn-default">Upload</button></a>

      </div>
    </div>
    <div class="issue-attrs">
      <p>
        <strong>Assignee: </strong>
        <%= link_to @issue.assignee, user_path(@issue.assignee) %>
      </p>
      <p>
        <strong>Kind:</strong> <%= @issue.kind %>
      </p>

      <p>
        <strong>Priority:</strong> <%= @issue.priority %>
      </p>

      <p>
        <strong>Status:</strong> <%= @issue.status %>
      </p>

      <p>
        <strong>Votes:</strong> <%= @issue.votes %>
      </p>


    </div>
    <div class="issues-footer">
      <h3>Comments (<%= @issue.comments.count %>)</h3>
      <% if not @issue.comments.empty? %>
          <% @issue.comments.each do |comment| %>
              <p><%= image_tag current_user.image_url %>
                <%= link_to User.where(username: @issue.issue_creator).first.full_name, user_path(@issue.issue_creator) %>
                (<%= time_ago_in_words(comment.created_at.strftime("%d-%m-%Y %R")) %> ago):    <%= comment.comment %>
              </p>
              <p><%= link_to 'Edit', edit_comment_path(:id => comment.id, :issue_id => @issue.id) %>
                | <%= link_to 'Delete', comment, method: :delete, data: {confirm: 'Are you sure?'} %></p>
          <% end %>
      <% end %>

    </div>
    <div id="issue-add-comment">
      <a href= <%=new_comment_path(:issue_id => @issue.id) %>><button type="button" class="btn btn-default">Add comment</button></a>
    </div>
  </div>


</div>
</body>
