<html>
<head>
<title>Edit</title>
<!-- Latest compiled and minified CSS -->
<%= stylesheet_link_tag "application" %>
</head>
<body>
 <!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <h4 class="navbar-text"><strong>Issue Tracker</strong></h4>
      </div>
      <ul class="nav navbar-nav">
        <li><a href=<%=issues_path%>>Home</a></li>
        <li><a href=<%=new_issue_path%>>New Issue</a></li>
      </ul>
    </div>
  </nav> -->
  <div class="container">
    <p id="notice"><%= notice %></p>
    
    <h1>Issue #<%= @issue.id %>: <%= @issue.title %></h1>
    
    <p>
      <strong>Title:</strong> <%= @issue.title %>
    </p>
    
    <p>
      <strong>Kind:</strong> <%= @issue.kind %>
    </p>
    
    <p>
      <strong>Priority:</strong> <%= @issue.priority %>
    </p>
    
    <p>
      <strong>Status:</strong> <%= @issue.status %>
    </p>
    
    <p>
      <strong>Votes:</strong> <%= @issue.votes %>
    </p>
    
    <p>
      <strong>Assignee: </strong><td><a href= /users/><%=@issue.assignee%></a></td>
    </p>
    
    <p>
      <strong>Created:</strong> <%= @issue.created_at.strftime("%d-%m-%Y %R") %>
    </p>
    
    <p>
      <strong>Updated:</strong> <%= @issue.updated_at.strftime("%d-%m-%Y %R") %>
    </p>
    
    <p>
      <strong>Description:</strong> <%= @issue.description %>
    </p>
    
    <%= link_to 'Edit', edit_issue_path(@issue) %> |
    <%= link_to 'Back', issues_path %>
    
    <p>
      
      <h2>Comments (<%= @issue.comments.count %>)</h2>
      
      <% if not @issue.comments.empty? %>
        <%= @issue.comments.each do |comment| %>
        <tr>
        <td><%= comment.user %></td>
        <td><%= comment.comment %></td>
        <td><%= comment.created_at.strftime("%d-%m-%Y %R") %></td>
        </tr>
        <%end%>
      <%end%>
      
      <%= link_to 'Add Comment', new_comment_path %>
      
    </p>

  </div>
</body>
