<html>
<head>
<title>Edit</title>
<!-- Latest compiled and minified CSS -->
<%= stylesheet_link_tag "application" %>
</head>
<body>
  <div class="container">
    <p id="notice"><%= notice %></p>
    
    <h1>Issue #<%= @issue.id %>: <%= @issue.title %></h1>
    
    <p>
      <strong>Title:</strong> <%= @issue.title %>
    </p>
    
    <p>
      <strong>Kind:</strong> <%= @issue.kind %>
    </p>
    
    <p>
      <strong>Priority:</strong> <%= @issue.priority %>
    </p>
    
    <p>
      <strong>Status:</strong> <%= @issue.status %>
    </p>
    
    <p>
      <strong>Votes:</strong>
      <%= @issue.votes %>
    </p>
    
    <p>
      <strong>Assignee:</strong> <%= @issue.assignee %>
    </p>
    
    <p>
      <strong>Created:</strong> <%= @issue.created_at.strftime("%d-%m-%Y %R") %>
    </p>
    
    <p>
      <strong>Updated:</strong> <%= @issue.updated_at.strftime("%d-%m-%Y %R") %>
    </p>
    
    <p>
      <strong>Description:</strong> <%= @issue.description %>
    </p>
    
    <%= link_to 'Edit', edit_issue_path(@issue) %> |
    <%= link_to 'Back', issues_path %>
  </div>
</body>
