<html>
<head>
<title>Account</title>
<!-- Latest compiled and minified CSS -->
<%= stylesheet_link_tag "application" %>
<style type="text/css">
    h4 {
        font-family: sans-serif;
    }
    
    th {
        margin-left:30px;
        color: #BEBEBE;
        font-family: sans-serif;
    }
    
</style>
</head>
<body>
    <div class="container">
        <p id="notice"><%= notice %></p>
        
        <div class="account settings">
        
        <h3>Account</h3>
        
        <table>
        <tr>
            <th><h5>Avatar</h5></th>
            <td><%= image_tag @user.image_url, alt: @user.username, :size => "100x100" %></td>
        </tr>
        <tr>
            <th><h5>Full name</h5></th>
            <td><h5><%= @user.full_name %></h5></td>
        </tr>
        <tr>
            <th><h5>Username</h5></th>
            <td><h5><%= @user.username %></h5></td>
        </tr>
        
        </table>
      </div>  
  </div>
</body>
